#stacked-area-chart {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: visible;
}

.axis path,
.axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #555;
}

#stacked-area-chart svg {
    padding-left: 120px;
	overflow: visible;
}
